auth_enabled: false
server:
  http_listen_port: 3100

common:
  path_prefix: /loki

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/index_cache
  aws:
    bucketnames: sre-loki-logs
    endpoint: 71d93212e29db096f32d5456e8ddf63c.r2.cloudflarestorage.com
    s3forcepathstyle: true
    insecure: false
    region: us-east-1

    
limits_config:
  allow_structured_metadata: false

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1


